@page "/profile"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="mb-3">
    <label for="text" class="form-label fw-bold">Naziv</label>
    <p>@Username</p>
</div>
@if(!String.IsNullOrEmpty(Picture)) {
    <div>
        <label for="text" class="form-label fw-bold">Slika profila</label>
    </div>
    <img src="@Picture">
}
@* <p>Welcome to your new app.</p> *@

@code {
    private string Username = "Anonymous User";
    private string Picture = "";

    protected override async Task OnInitializedAsync() {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        Username = state.User.Identity.Name ?? string.Empty;

        Picture = state.User.Claims
                    .Where( c => c.Type.Equals( "picture" ) )
                    .Select( c => c.Value )
                    .FirstOrDefault() ?? string.Empty;

        await base.OnInitializedAsync();
    }
}